## data gathered
*.csv

## credentials
creds.py/
staticfiles-cdn/


## Byte compiled
__pycache__/
*.py[cod]
*$py.class


## database init
database/


## environment variables

.venv
env/
venv/
ENV/
env.bak/
venv.bak/
creds/
creds
.vscode/


## Scraper And jupyter Files
data/
Analysis/*.ipynb/
Scraper/indeedscraper/
scraper.py/
scraper.cfg/
*.ipynb/
