## data gathered
*.csv

## credentials
creds.py/
staticfiles-cdn/
Tests/

## pycache
__pycache__/


.kube/
## environment variables
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
creds/
creds
cred.py
.vscode/
data/




.env_local
.env_local/